<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- Database connection settings -->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">
		jdbc:mysql://localhost:3306/followher
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">yuan10081611</property>

	<!-- JDBC connection pool (use the built-in) -->
	<property name="connection.pool_size">1</property>

	<!-- SQL dialect -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="myeclipse.connection.profile">
		com.mysql.jdbc.Driver
	</property>

	<!-- Echo all executed SQL to stdout -->
	<property name="show_sql">true</property>



	<!-- Mapping  -->
	 <!--<mapping resource="followher.hbm.xml"/> -->
	 <mapping class="com.followher.pojo.Avatar" />
     <mapping class="com.followher.pojo.Profile" />
     <mapping class="com.followher.pojo.User" />
     <mapping class="com.followher.pojo.Post" />
     <mapping class="com.followher.pojo.Img" />
     <mapping class="com.followher.pojo.Comment" />
     <mapping class="com.followher.pojo.Type" />
     <mapping class="com.followher.pojo.Item" />
     
</session-factory>
</hibernate-configuration>